:root {
  --accent-color: #2196f3;
  --back-color: #2f303a;
  --text-color: #212121;
  --text-item-color: #757575;
  --general-duration: 250ms;
  --general-function: cubic-bezier(0.4, 0, 0.2, 1);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--text-color);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

/*-------------------- HEADER --------------------*/

.header-site {
  background-color: #ffffff;
  border-bottom: 1px solid #ececec;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-list {
  display: flex;
}

.header-logo {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
  margin-right: 93px;
}

.logo-web {
  color: var(--accent-color);
}

.header-item:not(:last-child) {
  margin-right: 50px;
}

.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-color);
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
  position: relative;
  transition-property: color;
  transition-duration: var(--general-duration);
  transition-timing-function: var(--general-function);
}

.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}

.current {
  color: var(--accent-color);
}

.current::after {
  content: '';
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
  position: absolute;
  left: 0;
  bottom: -1px;
}

.header-address {
  display: flex;
  margin-left: auto;
}

.header-item-address:first-child {
  margin-right: 50px;
}

.header-mail,
.header-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-item-color);

  display: flex;
  align-items: center;

  transition-property: color;
  transition-duration: var(--general-duration);
  transition-timing-function: var(--general-function);
}

.mail-icon,
.tel-icon {
  fill: currentColor;
  margin-right: 10px;
}

.header-mail:hover,
.header-mail:focus,
.header-tel:hover,
.header-tel:focus {
  color: var(--accent-color);
}

/*-------------------- HERO --------------------*/

.hero {
  background-color: var(--back-color);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  margin: 0 auto;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  max-width: 696px;
  margin: 0 auto 30px auto;
}

.hero-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: var(--accent-color);
  text-align: center;
  padding: 10px 32px;
  min-width: 200px;
  min-height: 50px;

  display: block;
  margin: 0 auto;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;

  transition-property: background-color;
  transition-duration: var(--general-duration);
  transition-timing-function: var(--general-function);
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: #188ce8;
}

/*-------------------- Особенности --------------------*/

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.specifics {
  background-color: #ffffff;
  padding-bottom: 0;
}

.specifics-list {
  display: flex;
}

.specifics-item {
  width: 270px;
}

.specifics-item:not(:last-child) {
  margin-right: 30px;
}

.specifics-item-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f5f4fa;
  height: 120px;
  border-radius: 4px;
  margin-bottom: 30px;
}

.specifics-item-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text-color);
  margin-bottom: 10px;
}

.specifics-item-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-item-color);
}

/*-------------------- Чем мы занимаемся --------------------*/

.about-list {
  display: flex;
}

.about-title,
.team-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
  margin-bottom: 50px;
}

.about-item:not(:last-child) {
  margin-right: 30px;
}

.about-img-thumb {
  position: relative;
}

.about-img-thumb > .about-img-title {
  position: absolute;
  bottom: 0;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
  width: 370px;
  height: 70px;
  padding: 27px;
}

/* Команда */

.team {
  background-color: #f5f4fa;
}

.team-item {
  background-color: #ffffff;
  width: 270px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-item:not(:last-child) {
  margin-right: 30px;
}

.team-title {
  /* font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121; */
  margin-bottom: 50px;
}

.team-list {
  display: flex;
}

.team-item-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
  margin-bottom: 10px;
}

.team-item-text {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-item-color);
  margin-bottom: 16px;
}

.img-text {
  padding: 30px 15px;
}

.item-social-list {
  display: flex;
  justify-content: center;
}

.social-list-item + .social-list-item {
  margin-left: 10px;
}

.item-social-link {
  width: 44px;
  height: 44px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: #afb1b8;

  transition-property: color, background-color;
  transition-duration: var(--general-duration);
  transition-timing-function: var(--general-function);
}

.social-link-icon {
  fill: currentColor;
}

.item-social-link:hover,
.item-social-link:focus {
  background-color: #2196f3;
  color: #ffffff;
}

/* .social-link-icon:hover,
.social-link-icon:focus {
  fill: #ffffff;
} */

/*-------------------- CLIENTS --------------------*/

.clients {
  padding: 94px 0;
}

.our-clients {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto 0 auto;
}

.clients-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
  margin: 0 auto 50px auto;
}

.clients-list {
  display: flex;
  justify-content: center;
}

.clients-list-item + .clients-list-item {
  margin-left: 30px;
}

.clients-link {
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #afb1b8;

  transition-property: color, border;
  transition-duration: var(--general-duration);
  transition-timing-function: var(--general-function);
}

.clients-link-icon {
  fill: currentColor;
}

.clients-link:hover,
.clients-link:focus {
  border: 1px solid #2196f3;
  color: #2196f3;
}

/*-------------------- Кнопки фильтра в портфолио --------------------*/

.filter-list {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
}

.filter-item:not(:last-child) {
  margin-right: 8px;
}

.filter-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  background-color: #f5f4fa;
  border-radius: 4px;
  border: none;
  padding: 6px 22px;

  transition-property: color, background-color, box-shadow;
  transition-duration: var(--general-duration);
  transition-timing-function: var(--general-function);
}

.filter-btn:hover,
.filter-btn:focus {
  color: #ffffff;
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/*-------------------- Примеры работ в портфолио --------------------*/

.examples-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.examples-item {
  background-color: #ffffff;
  flex-basis: calc((100% - 30px * 3) / 3);
  margin-left: 30px;
  margin-top: 30px;
}

.examples-item:hover .img-text-description {
  transform: translateY(0);
}

.examples-item-link {
  display: block;

  transition-property: box-shadow;
  transition-duration: var(--general-duration);
  transition-timing-function: var(--general-function);
}

.examples-item-link:hover,
.examples-item-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

/* .examples-item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}

.examples-item:not(:nth-child(3n)) {
  margin-right: 30px;
} */

.examples-img-thumb {
  position: relative;
  overflow: hidden;
}

.img-text-description {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  width: 100%;
  height: 100%;
  transform: translateY(100%);

  transition-property: transform;
  transition-duration: var(--general-duration);
  transition-timing-function: var(--general-function);
}

.img-portfolio-text {
  padding: 20px 24px;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}

.examples-item-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--text-color);
  margin-bottom: 4px;
}

.examples-item-text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--text-item-color);
}

/*-------------------- Подвал --------------------*/

.footer-site {
  background-color: var(--back-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-links {
  display: flex;
  align-items: baseline;
}

.footer-logo {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.footer-address {
  margin-top: 20px;
}

.footer-list-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-item {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff99;

  transition-property: color;
  transition-duration: var(--general-duration);
  transition-timing-function: var(--general-function);
}

.link-address {
  color: #ffffff;
}

.footer-item:hover,
.footer-item:focus {
  color: var(--accent-color);
}

.join-us {
  display: block;
  justify-content: center;
  align-items: center;
  margin-left: 70px;
}

.join-us-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0 auto 20px auto;
}

.join-us-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.join-us-list-item + .join-us-list-item {
  margin-left: 10px;
}

.footer-social-link {
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  transition-property: background-color;
  transition-duration: var(--general-duration);
  transition-timing-function: var(--general-function);
}

.footer-icon {
  fill: #ffffff;
}

.footer-social-link:hover {
  background-color: var(--accent-color);
}

.newsletter-field {
  margin-left: 93px;
}

.newsletter-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.newsletter-field input {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;

  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  padding: 15px 16px;
  outline: none;
}

.newsletter-field-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.newsletter-field-btn {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  width: 200px;
  height: 50px;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  color: #ffffff;
  margin-left: 12px;
  padding: 10px 28px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.send-icon {
  margin-left: 10px;
}

/*-------------------- Модальное окно --------------------*/

.backdrop {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 450ms, visibility 450ms;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.1) perspective(600px) rotateX(60deg);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  height: 581px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1) perspective(600px) rotateX(0deg);
  transition: transform 1000ms;
}

.modal-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  transition-property: fill;
  transition-duration: var(--general-duration);
  transition-timing-function: var(--general-function);
}

.modal-close:hover,
.modal-close:focus {
  fill: var(--accent-color);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal-form {
  display: flex;
  flex-direction: column;
  padding: 40px;
}

.modal-form-title {
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--text-color);
  margin-bottom: 12px;
}

.label {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--text-item-color);
}

.form-label-text {
  margin-bottom: 20px;
}

.form-input {
  width: 100%;
  height: 40px;
  margin-top: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding: 12px 15px 12px 42px;
  outline: none;

  transition-property: border-color;
  transition-duration: var(--general-duration);
  transition-timing-function: var(--general-function);
}

.form-input:focus {
  border-color: var(--accent-color);
}

.form-input:focus + .input-icon {
  fill: var(--accent-color);
}

.form-textarea {
  resize: none;
  height: 120px;
  padding: 12px 16px;
}

.form-textarea::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-field {
  position: relative;
}

.input-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);

  transition-property: fill;
  transition-duration: var(--general-duration);
  transition-timing-function: var(--general-function);
}

.form-btn {
  width: 200px;
  height: 50px;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
  padding: 10px 55px;
  margin: 30px auto 40px auto;

  transition-property: background-color;
  transition-duration: var(--general-duration);
  transition-timing-function: var(--general-function);
}

.form-btn:hover,
.form-btn:focus {
  background-color: #188ce8;
}

.pollicy-description {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.checked-icon {
  width: 16px;
  height: 15px;
  border-radius: 2px;
  border: 2px solid var(--text-color);
  margin-right: 7px;
}

.form-checkbox {
  appearance: none;
  position: absolute;
}

.form-checkbox:checked + .checked-icon {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
  background-image: url(../images/check.svg);
  background-size: contain;
  background-origin: border-box;
}

.policy-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.policy-link {
  text-decoration: underline;
  color: var(--accent-color);
}
